<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by Vikesh Kumar. It uses data from mapbox.com abd darksky.net.</p>
             <img class="portrait" src="/img/img.jpg">
        </div>

        {{>footer}}

    </body>
</html>